<h1>I'm in the app component</h1>
<hr>
<app-servers></app-servers>
<hr>
<app-warning-alert></app-warning-alert>
<app-assignment></app-assignment>

<button class="btn btn-primary"
(click)="onDisplayDetails()">
Display Details</button>
<p *ngIf="showDetails">Secret Password = tuna</p>
<div *ngFor="let logItem of logClick"
[ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
[ngClass]="{'white-text': logItem >= 5}">{{logItem }}</div>

<!-- <p *ngIf="onDisplayDetails(); else !displayDetails">{{displayDetails}}</p> -->